@{
    ViewData["Title"] = "Home Page";
}

<body class="bg-dark_gray">    
    <!-- Header-->
    <header class="py-5">
        <div class="container px-lg-5">
            <div class="p-4 p-lg-5 bg-dark_gray rounded-3 text-center">
                <div class="m-4 m-lg-5 ">
                    <h1 class="display-5 fw-bold">Вітаємо вас на сайті глобальної бази даних тестів SSD!</h1>
                    <p class="fs-4">До бази даних нашого сайту входять тести таких екземплярів SSD формфактору як 2.5" та M2, де M2-варіанти SSD представленні з інтрефейсами підключення NVMe та Sata</p>
                    <a class="btn btn-primary btn-lg" href="#!">Перейти до загальної БД</a>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content-->
    <section class="pt-4">
        <div class="container px-lg-5">
            <!-- Page Features-->
            <div class="row gx-lg-5">
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light_gray_darked border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-light_gray text-white rounded-3 mb-4 mt-n4"><img src="~/assets/test (16x16).png" /></div>
                            <h2 class="fs-4 fw-bold">2.5"</h2>
                            <p class="mb-0">(Опис)</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light_gray_darked border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-light_gray text-white rounded-3 mb-4 mt-n4"><img src="~/assets/test (32x32).png" /></div>
                            <h2 class="fs-4 fw-bold">M2 NVMe</h2>
                            <p class="mb-0">(Опис)</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light_gray_darked border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-light_gray text-white rounded-3 mb-4 mt-n4"><img src="~/assets/test (64x64).png" /></div>
                            <h2 class="fs-4 fw-bold">M2 Sata</h2>
                            <p class="mb-0">(Опис)</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light_gray_darked border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-light_gray text-white rounded-3 mb-4 mt-n4"><img src="~/assets/test (32x32).png" /></div>
                            <h2 class="fs-4 fw-bold">(Назва)</h2>
                            <p class="mb-0">(Опис)</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light_gray_darked border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-light_gray text-white rounded-3 mb-4 mt-n4"><img src="~/assets/test (32x32).png" /></div>
                            <h2 class="fs-4 fw-bold">(Назва)</h2>
                            <p class="mb-0">(Опис)</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light_gray_darked border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-light_gray text-white rounded-3 mb-4 mt-n4"><img src="~/assets/test (32x32).png" /></div>
                            <h2 class="fs-4 fw-bold">(Назва)</h2>
                            <p class="mb-0">(Опис)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   
</body>

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@
